<%- include('partials/header') %>
<%- include('partials/boxstart') %>

<h1 class="non-main-page-h1">A little bit about me.</h1><br>
<p class="non-main-page-p">Hello!</p><br>
<p class="non-main-page-p">My name is Lawrence. You may know me by a bunch of different names, but this is my real name.
    I am currently a university student studying Computer Science in Australia, whilst also studying Web Design on the side!
</p><br>
<p class="non-main-page-p">In terms of hobbies and interests, most people would know me as a referee/tournament host in a game
    called osu!. However, I have mostly been playing minecraft in my spare time, or watching anime.
    In terms of real life, tennis is my go to sport! But I also like to go for short runs or walks around my neighbourhood to explore the nature c:
</p><br>
<p class="non-main-page-p">If you want to see what I have done in particular, check out my other links!
    If you want to contact me, you can check me out on my social medias down below!
</p>
               
<%- include('partials/icons') %>
<%- include('partials/boxend') %>
<%- include('partials/footer') %>