<%- include('partials/header') %>
<%- include('partials/boxstart') %>

<h1 class="non-main-page-h1">Education/Projects</h1><br>
<p class="non-main-page-p">As a second year university student, this is the first website I have made and are releasing to the web!</p><br>
<p class="non-main-page-p">I will be using this place to keep track of the projects I have completed. You can check out the source code below!</p>

<div class="project-box">
    <a href="https://osu.ppy.sh/community/forums/topics/1268244"><image class="project-button" src="images/tournaments/theperennial.png"></a>
    <p>The Perennial was the first major website I had worked on. It is a website dedicated to a friend's ambitious tournament, being able to visually bring it to life.<br><br>
        It is a tournament hosted by Dio, LeoFLT, ChillierPear and myself in order to bring the biggest prize pool to ever exist in an osu! tournament.
    </p>
</div>
<div class="project-box">
    <h2>This Website!</h2>
    <p>This website has been used to keep track of all the projects I have completed, with the GitHub showing all the code. This website was made for myself, just to show how much I can do as a web developer!</p>
</div>

<%- include('partials/icons') %>
<%- include('partials/boxend') %>
<%- include('partials/footer') %>