<%- include('partials/header') %>
<%- include('partials/boxstart') %>

<h1 class="non-main-page-h1">Tournaments</h1><br>
<p class="non-main-page-p">I have been a tournament host and staff member in the osu! community for the past 4 and a half years, starting in October 2016! Using this, I have been able to build managerial skills, getting tournaments done</p><br>
<p class="non-main-page-p">I will be using this place to keep track of the projects I have completed. You can check out the source code below!</p>

<a href="https://osu.ppy.sh/wiki/en/Tournaments/SOFT/5"><image class="tournament-button" src="images/tournaments/soft5.png"></a>
<a href="forumunavailable.html"><image class="tournament-button" src="images/tournaments/bkb.png"></a>
<a href="forumunavailable.html"><image class="tournament-button" src="images/tournaments/stk9.png"></a>

<h1 class="non-main-page-h1">STK Series</h1><br>
<a href="https://osu.ppy.sh/community/forums/topics/1139956"><image class="tournament-button" src="images/tournaments/stk8.png"></a>
<a href="https://osu.ppy.sh/community/forums/topics/1020228"><image class="tournament-button" src="images/tournaments/stk7.png"></a>
<a href="https://osu.ppy.sh/community/forums/topics/839277"><image class="tournament-button" src="images/tournaments/stk6.png"></a>

<h1 class="non-main-page-h1">ANZT Series</h1><br>
<a href="https://osu.ppy.sh/community/forums/topics/1204722"><image class="tournament-button" src="images/tournaments/anzt8s.png"></a>
<a href="https://osu.ppy.sh/community/forums/topics/1086888"><image class="tournament-button" src="images/tournaments/anzt7w.png"></a>
<a href="https://osu.ppy.sh/community/forums/topics/1007139"><image class="tournament-button" src="images/tournaments/anzt7s.png"></a>
<a href="https://osu.ppy.sh/community/forums/topics/928661"><image class="tournament-button" src="images/tournaments/anzt6w.png"></a>
<a href="https://osu.ppy.sh/wiki/en/Tournaments/ANZT/2019_Summer"><image class="tournament-button" src="images/tournaments/anzt6s.png"></a>

<h1 class="non-main-page-h1">Dio's Tournaments</h1><br>
<a href="https://osu.ppy.sh/community/forums/topics/1268244"><image class="tournament-button" src="images/tournaments/theperennial.png"></a>
<a href="https://osu.ppy.sh/community/forums/topics/1086855"><image class="tournament-button" src="images/tournaments/das.png"></a>
<a href="https://osu.ppy.sh/community/forums/topics/1023681"><image class="tournament-button" src="images/tournaments/dsc.png"></a>
<a href="https://osu.ppy.sh/community/forums/topics/975228"><image class="tournament-button" src="images/tournaments/dbht.png"></a>
<a href="https://osu.ppy.sh/community/forums/topics/929392"><image class="tournament-button" src="images/tournaments/dbfc.png"></a>

<h1 class="non-main-page-h1">nik's tournaments</h1><br>
<a href="https://osu.ppy.sh/community/forums/topics/1193550"><image class="tournament-button" src="images/tournaments/nwc2021.png"></a>
<a href="https://osu.ppy.sh/community/forums/topics/1069454"><image class="tournament-button" src="images/tournaments/nsc2020.png"></a>
<a href="https://osu.ppy.sh/community/forums/topics/991482"><image class="tournament-button" src="images/tournaments/nwt2020.png"></a>
<a href="https://osu.ppy.sh/community/forums/topics/940347"><image class="tournament-button" src="images/tournaments/nat2019.png"></a>

<h1 class="non-main-page-h1">OCL Series</h1><br>
<a href="https://osu.ppy.sh/community/forums/topics/1214024"><image class="tournament-button" src="images/tournaments/oclwinter2021.png"></a>
<a href="https://osu.ppy.sh/community/forums/topics/1005729"><image class="tournament-button" src="images/tournaments/oclfall2020.png"></a>

<h1 class="non-main-page-h1">Other Tournaments</h1><br>
<a href="https://osu.ppy.sh/community/forums/topics/612392"><image class="tournament-button" src="images/tournaments/artia.png"></a>
<a href="https://osu.ppy.sh/community/forums/topics/950907"><image class="tournament-button" src="images/tournaments/5dac.png"></a>
<a href="https://osu.ppy.sh/community/forums/topics/858472"><image class="tournament-button" src="images/tournaments/rsn3.png"></a>
<a href="https://osu.ppy.sh/community/forums/topics/1202184"><image class="tournament-button" src="images/tournaments/acs.png"></a>
<a href="https://osu.ppy.sh/community/forums/topics/1184967"><image class="tournament-button" src="images/tournaments/vot.png"></a>
<a href="https://osu.ppy.sh/community/forums/topics/955783"><image class="tournament-button" src="images/tournaments/gameosu4.png"></a>
<a href="https://osu.ppy.sh/community/forums/topics/952188"><image class="tournament-button" src="images/tournaments/asc.png"></a>
<a href="https://osu.ppy.sh/community/forums/topics/991091"><image class="tournament-button" src="images/tournaments/yeet.png"></a>
     
<%- include('partials/icons') %>
<%- include('partials/boxend') %>
<%- include('partials/footer') %>